@import "partials/partials";

body {
    background-color: #fbfbfb;
}

:focus {
    outline:none;
}

#logoWrapper {
    background-color: #ffffff;
    box-shadow: 0 0 10px #eaeaea;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    img {
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }
}

.primaryButton {
    background-color: $primary-blue;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 3px 10px rgba(0,0,0, 0.2);
    cursor: pointer;
    left: 50%;
    max-width: 480px;
    min-width: 280px;
    padding: 18px 0;
    transform: translateX(-50%);
    width: 80%;
    
    h1 {
        color: #ffffff;
        font-family: $Montserrat;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
}

#homeScreen {
    height: 100%;
    position: absolute;
    width: 100%;

    #feedMe {
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #filtersLabel {
        bottom: 50px;
        cursor: pointer;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

        .addFiltersText {
            color: #b1b1b1;
            font-family: $Montserrat;
        }

        img {
            display: block;
            height: 32px;
            left: 50%;
            padding: 10px 15px 15px;
            position: relative;
            transform: translateX(-50%);
            width: 32px;
        }
    }

    #filtersMenu {
        background-color: #333333;
        bottom: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
}

#filtersList {
    margin: 0 auto;
    opacity: 0;
    width: 90%;

    .filterOption {
        margin: 15px 0;

        p {
            color: #aeaeae;
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 300;
            margin: 25px 0 10px;
        }

        .filterOptionListItem {
            background-color: #292929;
            cursor: pointer;
            display: block;
            float: left;
            height: 60px;
            padding: 0;
            position: relative;
            text-align: center;
            transition: .25s all;
            width: 18.4%;

            span {
                color: #555555;
                display: inline-block;
                font-family: $Montserrat;
                font-size: 20px;
                font-weight: 400;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition: .25s all;
            }

            &:not(:first-child) {
                margin-left: 2%;
            }

            &.selected {
                background-color: $primary-blue;

                span {
                    color: #ffffff;
                }
            }
        }
    }
}

#resultScreen {
    height: 100%;
    position: absolute;
    width: 100%;

    #resultWrapper {
        border: 1px solid #eaeaea;
        box-shadow: 0 0 10px #eaeaea;
        font-family: $Montserrat;
        margin: 0 auto;
        max-width: 480px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;

        #resultImage {
            width: 100%;
        }

        #resultInfo {
            padding: 10px 15px;
        }

        #resultName {
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            padding: 0 0;

            @media (min-width: $desktop) {
                padding: 0 0 7px;
            }
        }

        #resultAddress {
            color: #777777;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 0;
            text-decoration: underline;
        
            &:link, &:visited {
                color: #777777;
            }

            &:hover, &:active {
                color: $primary-blue;
            }
        }

        #resultPrice {
            color: #c4c4c4;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            padding: 5px 0 0;

            @media (min-width: $desktop) {
                padding: 12px 0 0;
            }
        }
    }

    #resultHomeButton {
        border-bottom: 3px solid $primary-blue;
        border-left: 3px solid $primary-blue;
        cursor: pointer;
        height: 11px;
        left: 40px;
        position: absolute;
        top: 23px;
        transform: rotate(45deg);
        width: 11px;
        z-index: 9001;
    }

    #reroll {
        bottom: 50px;
        position: absolute;
    }
}



#loadingScreen {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 9998;

    img {
        height: 128px;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 128px;
    }
}