body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

h, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul, ol, li, dl, dd, dt {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  border-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #fbfbfb; }

:focus {
  outline: none; }

#logoWrapper {
  background-color: #ffffff;
  box-shadow: 0 0 10px #eaeaea;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000; }
  #logoWrapper img {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 140px; }

.primaryButton {
  background-color: #0072b0;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  left: 50%;
  max-width: 480px;
  min-width: 280px;
  padding: 18px 0;
  transform: translateX(-50%);
  width: 80%; }
  .primaryButton h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-align: center;
    text-transform: uppercase; }

#homeScreen {
  height: 100%;
  position: absolute;
  width: 100%; }
  #homeScreen #feedMe {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%); }
  #homeScreen #filtersLabel {
    bottom: 50px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); }
    #homeScreen #filtersLabel .addFiltersText {
      color: #b1b1b1;
      font-family: "Montserrat", sans-serif; }
    #homeScreen #filtersLabel img {
      display: block;
      height: 32px;
      left: 50%;
      padding: 10px 15px 15px;
      position: relative;
      transform: translateX(-50%);
      width: 32px; }
  #homeScreen #filtersMenu {
    background-color: #333333;
    bottom: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%; }

#filtersList {
  margin: 0 auto;
  opacity: 0;
  width: 90%; }
  #filtersList .filterOption {
    margin: 15px 0; }
    #filtersList .filterOption p {
      color: #aeaeae;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 300;
      margin: 25px 0 10px; }
    #filtersList .filterOption .filterOptionListItem {
      background-color: #292929;
      cursor: pointer;
      display: block;
      float: left;
      height: 60px;
      padding: 0;
      position: relative;
      text-align: center;
      transition: .25s all;
      width: 18.4%; }
      #filtersList .filterOption .filterOptionListItem span {
        color: #555555;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s all; }
      #filtersList .filterOption .filterOptionListItem:not(:first-child) {
        margin-left: 2%; }
      #filtersList .filterOption .filterOptionListItem.selected {
        background-color: #0072b0; }
        #filtersList .filterOption .filterOptionListItem.selected span {
          color: #ffffff; }

#resultScreen {
  height: 100%;
  position: absolute;
  width: 100%; }
  #resultScreen #resultWrapper {
    border: 1px solid #eaeaea;
    box-shadow: 0 0 10px #eaeaea;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    max-width: 480px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%; }
    #resultScreen #resultWrapper #resultImage {
      width: 100%; }
    #resultScreen #resultWrapper #resultInfo {
      padding: 10px 15px; }
    #resultScreen #resultWrapper #resultName {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      padding: 0 0; }
      @media (min-width: 768px) {
        #resultScreen #resultWrapper #resultName {
          padding: 0 0 7px; } }
    #resultScreen #resultWrapper #resultAddress {
      color: #777777;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 0;
      text-decoration: underline; }
      #resultScreen #resultWrapper #resultAddress:link, #resultScreen #resultWrapper #resultAddress:visited {
        color: #777777; }
      #resultScreen #resultWrapper #resultAddress:hover, #resultScreen #resultWrapper #resultAddress:active {
        color: #0072b0; }
    #resultScreen #resultWrapper #resultPrice {
      color: #c4c4c4;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 5px 0 0; }
      @media (min-width: 768px) {
        #resultScreen #resultWrapper #resultPrice {
          padding: 12px 0 0; } }
  #resultScreen #resultHomeButton {
    border-bottom: 3px solid #0072b0;
    border-left: 3px solid #0072b0;
    cursor: pointer;
    height: 11px;
    left: 40px;
    position: absolute;
    top: 23px;
    transform: rotate(45deg);
    width: 11px;
    z-index: 9001; }
  #resultScreen #reroll {
    bottom: 50px;
    position: absolute; }

#loadingScreen {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9998; }
  #loadingScreen img {
    height: 128px;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 128px; }
